@font-face {
    font-family: Neuton;
    src: url(../fonts/Neuton/Neuton-Regular.ttf);
}

@font-face {
    font-family: 'Sacramento', cursive;
    src: url(../fonts/Sacramento/Sacramento-Regular.ttf);
}
@font-face {
    font-family: 'Trade Winds', cursive;
    src: url(../fonts/Trade_Winds/TradeWinds-Regular.ttf);
}
