@font-face {
    font-family: Neuton;
    src: url(../fonts/Neuton/Neuton-Regular.ttf);
}

@font-face {
    font-family: Sacramento;
    src: url(../fonts/Sacramento/Sacramento-Regular.ttf);
}
@font-face{
  font-family: Trade;
  src:url("../fonts/Trade_Winds (1)/TradeWinds-Regular.ttf");
}
