.containerBanner
 .banner
   .banner__text
     h1.banner__text--title WE GROW AND SELL <br>
                    THE BEST FRUIT!
     span.banner__text--span _________
     p.banner__text--content You choose the size and delivery date for your fruit boxes! We subbly fruit and vegetables to companias of all size
     a(href="#").banner__text--button ORDER NOW
