section.sectionBestFruit
  .sectionBestFruit__wrap
    img(src="img/about_preston.png" alt="").sectionBestFruit__wrap--imgPerson
    .sectionBestFruit__wrap--text
      .sectionBestFruit__wrap--textTitle
        p WE SELL THE BEST FRUIT
      span ___
      .sectionBestFruit__wrap--textContent
        p  In common language usage, "fruit" normally means the fleshy seed-associated structures of a plant that are sweet or sour, and edible in the raw state
      .sectionBestFruit__wrap--person
       span Ethan Preston
    img(src="img/layer-40.png" alt="").sectionBestFruit__wrap--imgProduct
