footer
    ul
      h4 FRUITS
      li
        a(href="#") Apples
      li
        a(href="#") Kiwi
      li
        a(href="#") Banana
      li
        a(href="#") Grape
      li
        a(href="#") Lemons
    ul
      h4 BLOG CATEGORIES
      li
        a(href="#") Country Growers
      li
        a(href="#") Crop by Crop Guide
      li
        a(href="#") Farming News
      li
        a(href="#") Favourite Recipes
      li
        a(href="#") Fruit Trees to Try
    ul
      h4 INFO
      li
        a(href="#") Contact us
      li
        a(href="#") Location & Directions
      li
        a(href="#") FAQs
      li
        a(href="#") Gift Certificates
      li
        a(href="#") Policies
    .footer__div
      ul
        h4 FOLLOW US
        li
          p Lorem ipsum dolor sit amet, consecttuer adipiscing elit esent vestibulum molestie lacus. Aenean nonuy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.
