section.fruitClub
     .fruitClub__content
        h1 MONTHLY FRUIT CLUBS
        h1(style = {'font-size' : '30px'}) _____
        p There is little scientific evidence of benefit or harm to human health from a diet high in organic food, and experiment on the subject is very difficult.
        a(href="#") JOIN NOW
