header
   nav.container
      .logo
        a(href="#")
         img(src="img/logo.png")
      .toggleArea
        label(for='toggle')
         span
         span
         span
      input(type='checkbox')#toggle
      .menu
        ul.list__menu
         li.list__menu--item
          a.home(href="#") Home
         li.list__menu--item
          a.list__menu--link(href="#") Features
         li.list__menu--item
          a.list__menu--link(href="#") Our Fruits
         li.list__menu--item
          a.list__menu--link(href="#") Our Organics
         li.list__menu--item
          a.list__menu--link(href="#") Our Growers
         li.list__menu--item
          a.list__menu--link(href="#") Blogs
         li.list__menu--item
          a.list__menu--link(href="#") Contact
