section.product
      .product__title
         h1 WHAT WE DO
         h1(style = {'margin-top': '17px'}) ____
      .product__container
         .product__container--content
             .product__container--product
                .product__container--product--image
                   img(src="img/product1.png")
                h2.product__container--product--title CONVENTION FRUITS
                h2(style = {'margin-top': '-25px'}) ____
                p Lorem ipsum dolor sit amet, const. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.

             .product__container--product
                .product__container--product--image
                   img(src="img/product2.png")
                h2.product__container--product--title ORGANIC FRUITS
                h2(style = {'margin-top': '-25px'}) ____
                p Lorem ipsum dolor sit amet, const. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.


             .product__container--product
                .product__container--product--image
                   img(src="img/product3.png")
                h2.product__container--product--title OUR OWN FRUITS
                h2(style = {'margin-top': '-25px'}) ____
                p Lorem ipsum dolor sit amet, const. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.


