section.sectionSale
   acticle.sectionSale__container
        .sectionSale__container--product(style={'background-image': 'url(img/section2-div1.jpg)'})
            h4 HURRY UP
            h1 FRESH BANANA
            h1 ___
            p Up to 40% OFF
            a(href="#") SHOP NOW

        .sectionSale__container--product(style={'background-image': 'url(img/section2-div2.jpg)'})
            h4 HURRY UP
            h1 FRESH BANANA
            h1 ___
            p Up to 40% OFF
            a(href="#") SHOP NOW
        .sectionSale__container--product(style={'background-image': 'url(img/section2-div3.jpg)'})
            h4 HURRY UP
            h1 FRESH BANANA
            h1 ___
            p Up to 40% OFF
            a(href="#") SHOP NOW
