<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/index.css")
    title Fruit
  body
    include ./Components_pug/header.pug
    include ./Components_pug/banner.pug
    include ./Components_pug/bestFruit.pug
    include ./Components_pug/sale.pug
    include ./Components_pug/fruitClub.pug
    include ./Components_pug/product.pug
    include ./Components_pug/map.pug
    include ./Components_pug/footer.pug

